<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find klann_walker_control)/config/klann_walker_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/klann_walker" args="joint_state_controller
					  joint1_position_controller"/>
</launch>
